.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  margin-right: 15px;
  padding: 0 13px;
  font-size: 22px;
  background-color: #eceff1;
  font-family: Roboto;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.logo a {
  text-decoration: none;
  color: black;
}

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.slider-container span {
  font-size: .9rem;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
  background-color: green;
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  height: 13px;
  width: 13px;
  margin-top: -3px;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
}